header{
    width: 100%;
    padding-top: 16px;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo{
        width: 100px;
    }
}

.nav-list{
    list-style: none;
    display: flex;

    li {
        margin-left: 24px;
    }
}

.logo{
    max-width: 88px;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    color: $gray-3;
    position: relative;
    transition: all 0.7s ease;

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-top: 8px;
        width: 2px;
        height: 0px;
        border-radius: 2px;
        transform: translate3d(-15%,0,0);
        transition: 0.7s ease;
        background: linear-gradient(359.94deg, #E11C21 0.06% rgba(225, 28, 33, 0) 101.91%);        
    }
   
    &:hover{
        color: $white-light;
        &::after{
            height: 40px;
        }
    }
}

.nav-social{
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        cursor: pointer;
        margin-left: 16px;
        width: 24px;
        path, circle{
            transition: 0.7s ease;
        }
        &:hover{
            path, circle{
                fill: $red-light;
                transform: translate3d(0,-3px,0);
            }
        }
    }
}